/* MAIN PAGE*/

.companyName{
  margin-bottom: 15px;
  font-size: 21px;
  color: #0071BC;
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.location{
  line-height: 1.8;
  color: #0b476f;
  letter-spacing: 1px;
}

.contactForm .mainOffice{
  margin-bottom: 20px;
  font-style: normal;
}

.contactForm .contact{
  margin-bottom: 15px;
}

.contactForm .contactItem:not(:last-child){
  margin-bottom: 10px;
}

.contact .name{
  display: inline-block;
  width: 60px;
  margin-right: 8px;
  color: #b9b9b9;
}

.contact a{
  text-decoration: none;
  display: block;
}

.tel{
  color: #0b476f;
  font-weight: 400;
  font-size: 18px;
}

.email{
  font-weight: 600;
  color: #0071BC;
  font-size: 16px;
}

/* CONTACTS PAGE*/


@media only screen and (max-width: 480px) {
  .mainOffice{

  }
}