/* MENU */

.menu {
  margin-right: 35px;
}

.menu span {
  text-decoration: none;
  color: #f6f6f6;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.1em;

}

#btnMenu {
  background-color: #0071bcff;
  border: none;
  box-shadow: none;
  padding: .250rem .60rem;
}

.cust_btn::before{
  content: '';
  display: block;
  width: 80px;
  height: 50%;
  position: absolute;
  bottom: 12px;
  right: 10px;
  z-index: -1;
  background-color: #28B0B7;
  transition: all .3s ease;
  border-radius: 5px;
}
