.slider_container {
  text-align: center;
  position: relative;
  width: 100%; }

section {
  padding: 20px 0;
  margin: 0 auto 80px; }

/* Card */
.page {
  position: relative;
  z-index: 1; }

.card {
  border: 0;
  transition: all 0.3s linear;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 15px; }
  .card img {
    max-width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 0 2px 2px #f6f6f6; }
  .card .details {
    position: relative;
    margin-top: 10px;
    text-transform: uppercase; }
  .card .index {
    display: none; }

/* #region cards slider */
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 230px;
    opacity: 0.7;
    transform: scale(0.8);
    box-shadow: 0 0 20px 7px lightgrey;
    background-color: #b9b9b9;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .cards-slider-wrapper .card .details {
      opacity: 0;
      transition: opacity 150ms linear; }

.cards-slider.active-slide-0 #card-0 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-0 #card-0 .details {
    opacity: 1; }

.cards-slider.active-slide-1 #card-1 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-1 #card-1 .details {
    opacity: 1; }

.cards-slider.active-slide-2 #card-2 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-2 #card-2 .details {
    opacity: 1; }

.cards-slider.active-slide-3 #card-3 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-3 #card-3 .details {
    opacity: 1; }

.cards-slider.active-slide-4 #card-4 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-4 #card-4 .details {
    opacity: 1; }

.cards-slider.active-slide-5 #card-5 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-5 #card-5 .details {
    opacity: 1; }

.cards-slider.active-slide-6 #card-6 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-6 #card-6 .details {
    opacity: 1; }

.cards-slider.active-slide-7 #card-7 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-7 #card-7 .details {
    opacity: 1; }

.cards-slider.active-slide-8 #card-8 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-8 #card-8 .details {
    opacity: 1; }

.cards-slider.active-slide-9 #card-9 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-9 #card-9 .details {
    opacity: 1; }

.cards-slider.active-slide-10 #card-10 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-10 #card-10 .details {
    opacity: 1; }

.cards-slider.active-slide-11 #card-11 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-11 #card-11 .details {
    opacity: 1; }

.cards-slider.active-slide-12 #card-12 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-12 #card-12 .details {
    opacity: 1; }

.cards-slider.active-slide-13 #card-13 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-13 #card-13 .details {
    opacity: 1; }

.cards-slider.active-slide-14 #card-14 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-14 #card-14 .details {
    opacity: 1; }

.cards-slider.active-slide-15 #card-15 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-15 #card-15 .details {
    opacity: 1; }

.cards-slider.active-slide-16 #card-16 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-16 #card-16 .details {
    opacity: 1; }

.cards-slider.active-slide-17 #card-17 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-17 #card-17 .details {
    opacity: 1; }

.cards-slider.active-slide-18 #card-18 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-18 #card-18 .details {
    opacity: 1; }

.cards-slider.active-slide-19 #card-19 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-19 #card-19 .details {
    opacity: 1; }

.cards-slider.active-slide-20 #card-20 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-20 #card-20 .details {
    opacity: 1; }

.cards-slider.active-slide-21 #card-21 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-21 #card-21 .details {
    opacity: 1; }

.cards-slider.active-slide-22 #card-22 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-22 #card-22 .details {
    opacity: 1; }

.cards-slider.active-slide-23 #card-23 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-23 #card-23 .details {
    opacity: 1; }

.cards-slider.active-slide-24 #card-24 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-24 #card-24 .details {
    opacity: 1; }

.cards-slider.active-slide-25 #card-25 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-25 #card-25 .details {
    opacity: 1; }

.cards-slider.active-slide-26 #card-26 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-26 #card-26 .details {
    opacity: 1; }

.cards-slider.active-slide-27 #card-27 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-27 #card-27 .details {
    opacity: 1; }

.cards-slider.active-slide-28 #card-28 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-28 #card-28 .details {
    opacity: 1; }

.cards-slider.active-slide-29 #card-29 {
  opacity: 1;
  transform: scale(1);
  background-color: white; }
  .cards-slider.active-slide-29 #card-29 .details {
    opacity: 1; }

.page .col {
  height: 320px;
  position: relative; }
  .page .col:before, .page .col:after {
    content: '';
    display: block;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, #f6f6f6 30%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .page .col:after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, #f6f6f6 30%, rgba(255, 255, 255, 0) 100%); }

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto; }

.prev_button, .next_button {
  position: absolute;
  display: block;
  top: 320px;
  z-index: 2;
  text-decoration: none;
  font-size: 13px;
  padding: 1px 15px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400; }

.prev_button {
  left: 35%; }

.next_button {
  right: 35%; }

.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 30px solid #0071BC; }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 30px solid #0071BC; }

.about {
  font-weight: 700;
  color: #0071BC; }

.details {
  font-size: 12px; }

/*button*/
.slider_container .card .btn_detail {
  padding: 2px 34px;
  font-size: 11px; }

/*# sourceMappingURL=SliderShow.css.map */
