.navbar .heart_beet{
  margin-right: 3.9em;
  margin-bottom: 10px;
}

.heart{
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: #28B0B7;
  transform: rotate(-45deg);
  animation: heartbeat 2s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #28B0B7;
  border-radius: 50%;
}
.heart:before {
  top: -10px;
  left: 0;
  z-index: -1;

}

.heart:after {
  left: 10px;
  top: 0;
  z-index: -1;
}

@keyframes heartbeat {
  0% {
    transform: scale( 1 )
    rotate(-45deg);
  }
  20% {
    transform: scale( 1.25 )
    rotate(-45deg);
  }
  40% {
    transform: scale( 1.5 )
    rotate(-45deg);
  }
}

.heart:hover,
.heart:hover::before,
.heart:hover::after {
  background-color: red;
}