/*Header*/

.header {
  position: fixed;
  z-index: 100;
  top: 70px;
  width: 100%;

  /*Animation*/

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.header.active{
  position: fixed;
  top: 0;
  padding: 5px;
  background-color: #fff;
  box-shadow: 1px 0 15px 3px lightgrey;
}
