.center{
  margin-top: 300px;
  margin-left: 35%;
  margin-right: 35%;
}
.content{
  width: 100%;
  text-align: center;
  font-family: sans-serif, Oswald;
  color: #b9b9b9;
}

.center h1{
  font-size: 10em;
}